<!DOCTYPE html>
<html>

<head>
    <title>Calculator!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
	<h1>Calculator!</h1>
	<h3>Usage</h3>
	<p>Enter "argument operator argument" below. Available operators: "+", "-", "*", "/", "^".</p>
	
	<h3>Input</h3>
	<form action="#" th:action="@{/calculator}" th:object="${calc}" method="post">
	  <input type="text" th:field="*{a}" />
	  <input type="text" th:field="*{operation}" />
	  <input type="text" th:field="*{b}" />
	  <input type="submit" />
	</form>
	
	<h3>Output</h3>
    <h5>Answer:</h5>
	<p th:text="${calcResult.result}"></p>
    <h5>Operation:</h5>
	<p th:text="${calcResult.operation}"></p>
    <h5>Operation status:</h5>
	<p th:text="${calcResult.resultType}"></p>
	
</body>

</html>